 .chota a{
    color: #026CFD;
    letter-spacing:1px;
    margin-left: 20px;
}
body { padding-bottom: 70px;overflow: auto; }
.chota a:hover{
    text-decoration: none;
    color: red;
}
.navbar-brand{padding-right: 50px;font-size: 2.6em;}
ul{
    text-align: center;
}
.navbar-brand{padding-right: 10px;}
nav
{
    
    /*background: linear-gradient(235deg, #FFD300, #010615, #12E772);*/
    border-style: solid;
    width: 100%;
    padding-bottom: 100px;
    
}
nav ul
{
    float: right;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    margin-right: 20px; 
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.back>ul>li>a:hover
{
    background-color: #f8f40b ;
    transition: .5s;
}
.checkbtn
{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}

@media (max-width: 952px)
{
    label.logo
    {
        font-size: 20px;
        padding-left:50px;
    }
    nav ul li a
    {
        font-size: 16px;
        font-weight: bold;
    }
}
@media(max-width: 858px)
{
    .checkbtn
    {
        display: block;
    }
    ul
    {
        position: fixed;
        width: 80%;
        height: 80vh;
        background:linear-gradient(100deg,#000000,#000000,#000000);;
        top:80px;
        left: -100%;
        text-align: left;
        margin-top: 52px;
        transition: all .5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 20px;

    }
    img
    {
        height: 120px;
        width: 120px;
    }
    a:hover,a.active{
        background: none;
        color: #000000;
    }
    #check:checked ~ ul
    {
        left: 0;


    }
}
.card{
    padding-bottom: -5px;
    width: 315px;
    height: 254px;
    /*margin: 1em;*/
    perspective: 1500px;
    background-color:#010615; 
}

.card .content {
    position: relative;
    width: 100%;
    height: 92%;
    transform-style: preserve-3d;
    /*animation*/
    transition: transform 0.4s cubic-bezier(0.9, 1, 0.85, 1);
}

.more {
    display: none;
}

.more:checked ~ .content {
    transform: rotateY(180deg);
}
.active a{
    color: red;
    border-bottom: 2px solid red !important;
    /*padding-bottom: 14px;*/
}
.front, .back {
    /*ram bann*/
    position:absolute;   

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
}

.front .inner, .back .inner {
    height: 100%;
    width: 100%;
    /*display: flex;*/
    transform: translateZ(80px) scale(1);
}

.front {
    background-color:  #010615;
    background-size: 100% 100%;
    /*background-position: center;*/

    /*background-image: linear-gradient(to bottom,j
    rgba(255, 255, 255, 50),
    rgba(255, 255, 255, 50)
    100%);*/
}

.front:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
}

.front h2 {
    /*grid-row: 2;*/
    margin-bottom: 0.9em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:  #010615;
    font-weight: 500;
    text-shadow: 0 0 6px #6CDF1F;
}

.back {
    transform: rotateY(180deg);
    background-color: #010615;
    /*border: 2.5px solid ;*/
    padding: 2.0px;
}

.back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3;
}

.back .info:not(:first-of-type):before {
    content: '';
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
}

.back .info span {
    font-size: 2em;
    font-weight: 700;
}

.back .info i {
    font-size: 1.2em;
}

.back .info .icon {
    margin-left: 0.3em;
}

.back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
}

.back .description {
    width: 100% !important;
    grid-column: -1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: #FFFFFF;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
}
.bio {
    margin: 15px;
    color: #FEFEFF;
}
.songs{
    margin-top: 15px;
    color: #FEFEFF;
}
.bio #bio_title
{
    color: #FEFEFF;
}
.bio #bio_description
{
    font-size:12px ;
}

#songs{
    margin: 15px;
    color: #FEFEFF;
}

.card{
    cursor: pointer;
}
.caption {
    position: absolute;
    font-size: 2.0em;
    top: 100%;
    left: 0;
    width: 100%;
    color: #39ff14;
}
.nav a{
    margin: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #010615;
}
.boxs{
    /*border-radius: 6px;*/
    position: relative;
    width: 315px;
    height: 254px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    /*margin: 40px;*/
    /*margin: 5.0em;*/

}
.boxs:before{
    /*border-radius: 6px;*/
    content: ' ';
    position: absolute;
    top: -3.5px;
    left: -3.5px;
    right: -3.5px;
    bottom: -3.5px;
    /*background: #fff;*/
    z-index: -1;
}
.boxs:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    /*background: #fff;*/
    z-index: -2;
    filter: blur(30px);
}
/*.boxs:nth-child(0):before,
.boxs:nth-child(0):after{
    background: linear-gradient(235deg, #FF8B00, #010615, #FF0130);
}*/
.boxs:nth-child(1):before,
.boxs:nth-child(1):after{
    background: linear-gradient(235deg,#266EF6, #010615, #E429F2);
}
/*.boxs:nth-child(2):before,
.boxs:nth-child(2):after{
    background: linear-gradient(235deg, #FFD300, #010615, #12E772);
}*/
/*.boxs{
    padding: 30px;
    color: #fff;
}*/
.col-lg-3,.col-md-6{padding-bottom: 3.0em;padding-right: 1.5em;padding-left: 1.5em;}
#but{border-radius: 35%;}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header_content
{
    width: 100%;
    height: 148px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.header.scrolled
{
    background: rgba(24,24,24,0.6);
}
.header.scrolled .header_content
{
    height: 90px;
}
.header_content_inner
{
    width: 100%;
}
.logo a
{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.75;
}
